# Elasticsearch Endpoint URL or Cloud ID
ES_URL=

# Elasticsearch API Key
ES_API_KEY=


# podman run --name es923 --net elastic -p 9206:9206 -p 9306:9306 -it -m 6GB \
#   -e "xpack.ml.use_auto_machine_memory_percent=true" \
#   -e "cluster.name=cluster1" \
#   -e "http.port=9206" \
#   -e "transport.port=9306" \
#   docker.elastic.co/elasticsearch/elasticsearch:9.2.3

# podman exec -it es923 /usr/share/elasticsearch/bin/elasticsearch-reset-password -u elastic -i


# podman run --name kib923 --net elastic -p 5606:5606 \
#    -e "SERVER_PORT=5606" docker.elastic.co/kibana/kibana:9.2.3